<div  data-controller="dropdown">

<h1>Home#index</h1>
<%
=begin%>
 <div data-dropdown-target="dropdownContent"> 
<%
=end%>
  <p>Find me in app/views/home/index.html.erb</p>
<%
=begin%>
 </div> 
<%
=end%>

</div>